/*=== GERAL ===*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root {
  --primary-color: #354126;
  --secundary-color: #89b758;
  --fundo: hsl(0, 0%, 96%);
  --texto: hsla(87, 6%, 31%, 1);
  --margin-left-div-right: 10.95rem;
  --eye-password: hsla(0, 3%, 33%, 0.5);
  font-size: 62.5%; /*1rem = 10px*/
  /* font-size: 100%; */
}

body {
  display: flex;
}

main {
  display: inline-block;
  font-size: 1.6rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

a {
  color: var(--secundary-color);
  text-decoration: none;
}

h1 {
  font-size: 6.4rem;
  color: var(--primary-color);
  margin-left: 9rem;
  margin-right: 9rem;
  /* margin-right: 10.5rem; */
  /* margin-bottom: 0%; */
  font-weight: 400;
}

h2 {
  font-size: 2.8rem;
  color: var(--primary-color);
  /* margin-top: 0%; */
  /* justify-content: center; */
  margin-left: 16.5rem;
  margin-right: 16.5rem;
  /* margin-right: 18.95rem;
  margin-inline: auto; */
  font-weight: 400;
}

h3 {
  font-size: 3.6rem;
  color: var(--primary-color);
  margin-top: 5.3rem;
}

h5,
h6 {
  color: var(--texto);
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 0.4rem;
  margin-bottom: 2.4rem;
}

h6 a {
  color: var(--secundary-color);
  font-size: 1.4rem;
  font-weight: 400;
  text-decoration: underline;

  margin-left: 20.5rem;
}

div.sign-up {
  display: flex;
  flex-direction: row;

  margin-top: 0.4rem;
  margin-bottom: 2.4rem;
}

/* === CHECKBOX === */
input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 0.5rem;
  border-color: var(--primary-color);
  background-color: var(--fundo);
  cursor: pointer;
  /* display: flex; */
  margin-bottom: -0.7rem;
}

input[type='checkbox']:after {
  font-family: 'Font Awesome 5 free';
  font-weight: 900;
  content: '\f00c';
  position: absolute;
  font-size: 2.4rem;
  color: var(--secundary-color);
  border-color: var(--primary-color);
  display: none;
}
input[type='checkbox']:hover {
  background-color: var(--secundary-color);
}
input[type='checkbox']:checked {
  background-color: var(--fundo);
}
input[type='checkbox']:checked::after {
  display: block;
}

/*===PASSWORD VIEW*/
.eyePassword {
  display: inline-block;
  position: absolute;
  margin-left: -4rem;
  margin-top: 1.3rem;
}

form div footer {
  margin-top: 2.8rem;
  /* align-items: center; */
  /* justify-content: center; */
  /* flex-direction: column; */
  /* margin-left: auto;
  margin-right: auto; */
}

p {
  color: var(--texto);
  font-size: 1.4rem;
  /* text-align: center; */
  margin-bottom: 2.982rem;
  margin-left: calc(30.982rem - var(--margin-left-div-right));
}

.left {
  /* margin-inline: auto; */
  /* width: 100vw; */
  height: 100vh;
  background-color: hsla(0, 25%, 97%, 1);
  /* display: inline-block; */
  /* width: 60.9rem; */
  /* position: absolute; */
  /* top: 0;
  left: 0; */
  z-index: -1;
  margin-right: 9rem;
  /* align-items: center;
  justify-content: center; */

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.right {
  margin-inline: auto;
  width: 100vw;
  height: 100vh;
  /* margin-left: var(--margin-left-div-right); */
  margin-right: 7.95rem;
  display: inline-block;
  align-items: center;
  justify-content: center;
  /* z-index: 2; */
  /* margin-inline: auto; */
}

.folha {
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  /* position: absolute; */
  margin-top: 19.653rem;
  /* margin-left: -3rem; */
  margin-bottom: 3.083rem;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input {
  width: 41.5rem;
  height: 3.3rem;
  background-color: #f4f4f4;
  background-image: linear-gradient(hsla(0, 0%, 90%, 1), #fff, #fff);
  border: none;
  border-radius: 0.5rem;
  margin-block: 1rem;
}

label.text-input {
  height: 1.9rem;
}

/*=== BUTTON ===*/
.button1 {
  background-color: hsla(0, 0%, 95%, 1);
  box-shadow: 0px 5px 5px #7b6b6b;

  border-radius: 0.5rem;
  margin-bottom: 4.7rem;

  border: none;
  height: 3.7rem;
  width: 42rem;

  color: hsla(0, 7%, 45%, 1);
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6em;
}

.button2 {
  background-color: var(--secundary-color);
  border-radius: 8.3rem;

  border: none;
  height: 3.9rem;
  width: 22rem;

  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 9.9rem;
}

.button3 {
  background-color: var(--secundary-color);

  border-radius: 8.3rem;

  border: none;
  height: 3.9rem;
  width: 22rem;

  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 9.9rem;
}

.eye-password {
  position: fixed;
}
